<h1>Edit a lesson</h1>
{{#with lesson}}
<form action="/lessons/{{_id}}" method="POST">
  <label for="name">Name:</label>
  <input type="text" name = "name" value="{{name}}">

  <label for="location">Location:</label>
  <input type="text" name = "location" value="{{location}}">

  <label for="date">Date:</label>
  <input type="date" name = "date" value="{{date}}">

  <label for="time">Time:</label>
  <input type="text" name = "time" value="{{time}}">

    <select name="owner" multiple>
    {{#each users}}
      {{{selector ../lesson}}}
    {{/each}}
    {{!-- {{{ options }}} --}}
  </select>


  <button type="submit">Edit lesson</button>
</form>
{{/with}}