<h1>Edit a lesson</h1>
{{#with lesson}}
<form action="/lessons/{{_id}}" method="POST" class="form">
  <div>
    <label for="name">Name:</label>
    <input type="text" name = "name" value="{{name}}">
  </div>

  <div>
    <label for="date">Date:</label>
    <input type="date" name = "date" value="{{date}}">
  </div>

  <div>
    <label for="time">Time:</label>
    <input type="text" name = "time" value="{{time}}">
  </div>


 <div>
    <label for="maxParticipants">Maximum participants:</label>
    <input type="number" name = "maxParticipants" value="{{maxParticipants}}">
  </div>


    {{!-- <select name="owner" multiple>
    {{#each users}}
      {{{selector ../lesson}}}
    {{/each}}
     {{{ options }}} 
  </select> --}}


  <button type="submit" class="button">Edit lesson</button>
</form>
{{/with}}