<h1>All yoga lessons</h1>
{{#each lessonList}}
  <h3>Name: {{name}}</h3>
  <h4>Date: {{date}}</h4>
  {{#each this.owner}}
    <li>Name: {{ name }}</li>
  {{/each}}
  <a href="/lessons/{{_id}}/delete">Delete this lesson 🗑</a>
   <a href="/lessons/{{_id}}/edit">Edit this lesson</a>
    <a href="/lessons/{{_id}}">See details</a>
{{/each}}

  <a href="/lessons/add">Create lesson</a>