<div id="lessons-page">
  <h1>All Yoga Lessons</h1>
  <div id="lessons">
    {{#each lessonList}}
    <div class="lesson-div">
      <img src="{{owner.imgPath}}" alt="Profile picture of the organiser" style="width: 100px; height: 100px;" class="profile-pic">
      <h2>{{name}}</h2>
      <h4>Date: {{date}}</h4>
      <h4>Time: {{time}}</h4>

      <h4>Teacher: {{ owner.username }}</h4>
      <a href="/lessons/{{_id}}" class="button">See details</a> 
    </div>

    {{/each}}

  </div>
  <a href="/lessons/add" class="button create-edit-btn">Create lesson</a>

</div>  