<h2>Yoga lesson information</h2>
{{#with lesson}}
<p>Name: {{name}}</p>
<p>Location: {{location}}</p>
<p>Time: {{time}}</p>
<p>Owner:{{owner.username}}</p>

{{/with}}

{{#if session.currentUser}}
  <form action="{{lesson._id}}/join/{{session.currentUser._id}}" method="POST">
    <button>Join Lesson</button>
  </form>
 {{#if message}}
    {{message}}
  {{/if}} 
{{/if}}
