<h2>Yoga lesson information</h2>
{{#with lesson}}
<p>Name: {{name}}</p>
<p>Location: {{location}}</p>
<p>Time: {{time}}</p>
<p>Owner:{{owner.username}}</p>

{{/with}}
  {{#if isOwner}}
      <a href="/lessons/{{lesson._id}}/delete">Delete this lesson 🗑</a>
      <a href="/lessons/{{lesson._id}}/edit">Edit this lesson</a>
  {{/if}}

  {{#if isUser}}
    {{#if alreadyEnrolled}}
      <form action="/lessons/{{lesson._id}}/leave/{{session.currentUser._id}}" method="POST">
        <button>Cancel participation</button>
      </form>
     {{else}}
      <form action="/lessons/{{lesson._id}}/join/{{session.currentUser._id}}" method="POST">
        <button>Join Lesson</button>
      </form> 
    {{/if}}
  
  {{/if}}

    {{!-- {{#if message}}
        {{message}}
    {{/if}}  --}}