<div id="profile-div">
  {{#with user}}
    <h1>Welcome, {{ capitalize username }}</h1>
    <img src="{{imgPath}}" height="200px">

    {{#if organisedLessons}}

      My organised lessons:
      <ul>
        {{#each organisedLessons}}
        <li><a href="/lessons/{{_id}}">{{ name }}</a></li>
        {{/each}}
      </ul>

    {{else}}
        <h4>You haven't organised any lessons yet</h4>
    {{/if}}

  {{/with}}  
</div>
